@keyframes play90 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -36810px 0px;
  }
}
.shapeshifter {
  animation-duration: 1500ms;
  animation-timing-function: steps(90);
  width: 409px;
  height: 280px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play90;
}
